.dates{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 1em;

    .years{
        display: flex;
        align-items: center;
        margin-top: 1em;
        list-style: none;

        .year{
            padding: 5px 10px;
            background-color: gray;
            border-radius: 3px;
            width: fit-content;
            margin-right: 0.5em;
            cursor: pointer;
        }
    }

    .months-calendar{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin: 4em 0;
        width: 100%;

        .months{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2em 1.5em;
            list-style: none;
            background-color: black;
            padding: 1em;
            border-radius: 5px;
            color: white;

            .month{
                margin-bottom: 1em;
                cursor: pointer
            }
        }

        .calendar{
            display: flex;
            justify-content: flex-end;
            margin-left: 2em;
            .days{

                display: flex;
                flex-wrap: wrap;
                
                .day{
                    width: 100px;
                    height: 100px;
                    border: 1px solid #fffcfc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #eeeeee;
                    cursor: pointer;

                    &:hover{
                        background-color: #dadadb;
                    }
                }
            }
            
        }
    }
}