<div class="list-shows">
    <h1>TYPES D'ÉMISSIONS</h1>
    <h3>Liste de tous les types d'émissions </h3>

        <div class="actions">
            <button class="add-show" type="button" routerLink= '/types-émissions/créer'> 
                <i class="pi pi-plus"></i>
                Créer Type d'Émission
            </button>
        </div>

        <p-table [value]="showsList" responsiveLayout="scroll">
            
            <ng-template pTemplate="header">
                <tr>
                    <th class="count"></th>
                    <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-show let-rowIndex="rowIndex">
                <tr>
                    <td class="count">{{rowIndex + 1}}</td>
                    <td>{{show.name }}</td>
                    <td><img [src]="show.image" [alt]="show.name" width="100" class="p-shadow-4" /></td>
                    <td>{{show.description}}</td>
                    <td class="delete-edit">
                    
                        <i (click)="editShow(show.id)" class="pi pi-pencil"></i>
                        <i (click)="deleteShow(show.id)"class="pi pi-trash"></i>
                    
                    </td>
                 </tr>
            </ng-template>

        </p-table>
        <p-confirmDialog header="Confirmation de suppression" acceptLabel="Oui" rejectLabel="Non" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
        </p-confirmDialog>
        <p-toast position="top-right"></p-toast> 
</div>