<div class="sidebar">
    <div class="programs space">
        <span>Programmes</span>
        <a routerLinkActive="active-navigation" [routerLinkActiveOptions]="{exact: true}" routerLink="/programmes-tv">Programme TV</a>
        <a routerLinkActive="active-navigation" routerLink="/programmes-radio">Programme Radio</a>
    </div>

    <div class="no-rubric space">
        <a>Employés</a>
    </div>
    

    <div class="shows space">
        <span>Émissions</span>
        <a routerLinkActive="active-navigation" routerLink="/types-émissions">Type émission</a>
        <a >Émissions phares</a>
    </div>
</div>